.bg{

    background-image: url("https://images.pexels.com/photos/239975/pexels-photo-239975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    
    background-size: cover;
    
    }
    .example-container {
      position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      
      }.example-card {
     
        top: 10px;
        left:22%;
        bottom:50px;
        width: 800px;
        height: 650px;
        text-align: center;
      }  

      .img{

        height: 140px;
      }
   
      .button {
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      
      }

      table{
       
        text-align: center;
        border-collapse: collapse;
        width: 100%;
       
    }

    
    th, td {
        width:100px;
        padding: 10px;
    }